div.monitor{
    border:1px solid #000;
    background:#333;
    color:#fff;
    padding:3px;
    display:none;
    position:fixed;
    _position:absolute;
    top:0;
    right:0;
    width:300px;
    max-height:99%;
    height:99%;
    font:1em/1 Helvetica,Tahoma,Arial,\5b8b\4f53,sans-serif;
    -moz-opacity:.8; opacity:.8;
    /*-ms-filter:"alpha(opacity=80)"; filter:alpha(opacity=80); zoom:1;*/
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
div.monitor:after{content:"\0020"; display:block; height:0; clear:both;}
div.monitor{zoom:1;}
div.monitor ol{
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    height:100%;
    overflow:auto;
    overflow-x:hidden;
    overflow-y:auto;
}
div.monitor li{
    margin:1px 0;
    padding:0;
    border-bottom:1px solid #666;
}
div.monitor a{
    border:1px solid #fff;
    color:#fff;
    position:absolute;
    top:0px;
    right:1em;
    padding:2px;
    text-decoration:none;
}
